[Unit]
Description= MusicWallet service

[Service]
ExecStart=/root/MusicWallet/musicwalletproject/sample-service.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
